@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

body {
	background-color: black;
	color: #FFFEFE;
}

.homepage h1 {
	font-family: "League Spartan", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-size: 48px;
}

.homepage h2 {
	font-family: "League Spartan", sans-serif;
	font-weight: 800;
	font-size: 40px;
	text-transform: capitalize;
}

.homepage h3 {
	font-family: "League Spartan", sans-serif;
	font-weight: 600;
	font-size: 28px;
}

.homepage img {
	width: 100%;
}

.quiz-1,
.quiz-2,
.quiz-3,
.quiz-3,
.quiz-4,
.quiz-5 {
	font-family: "League Spartan", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-size: 24px;
	text-transform: capitalize;
}

.home-btn,
.quiz-4-btn,
.quiz-1-btn {
	background-color: #AB312A;
	color: white;
	border: none;
	padding: 6px 20px;
	cursor: pointer;
	font-size: 18px;
	font-family: "Lateef", serif;
}

.result {
	font-family: "League Spartan", sans-serif;
}

.result-btn {
	background-color: #AB312A;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: "Lateef", sans-serif;
}

.result-title {
	font-size: 40px;
}

.result-name {
	font-size: 30px;
}

.result-text {
	font-size: 25px;
}

.result-images {
	width: 100%;
}


/* This uses the same value as --size-xs. */
@media screen and (width >=320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}